.layout-enter-active,
.layout-leave-active {
  transition: opacity 0.2s ease-out;
}

.layout-enter,
.layout-leave-to {
  opacity: 0;
}

// Slide fade transition

.slide-fade-enter-active {
  transition: all 0.2s ease;
}

.slide-fade-leave-active {
  transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter,
.slide-fade-leave-to {
  margin-left: 30px;
  margin-right: -30px;
  opacity: 0;
}
