.block-option {
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--global-radius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  transition: all var(--quick);

  .icon {
    display: inline-block;
    height: 75px;
    margin-bottom: 1rem;
    margin-top: auto;
    width: auto;
  }

  p {
    color: var(--grey);
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
  }

  &:hover {
    background-color: var(--active-bg);
    border: 1px solid var(--border-color);
    cursor: pointer;
  }
}
